@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --bg-primary: #0f172a;      
  --bg-secondary: #111827;     
  --text-primary: #e5e7eb;     
  --text-secondary: #9ca3af;  
  --accent: #6366f1; 
  --color-primary:white;       

  /* Fonts */
  --font-primary: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}




body {
 background-color: var(--bg-primary);
 color: var(--color-primary);
}
